.bg-img {
  background-image: url("../../../images/navtest.png");
  position: absolute;
  top: 0;
  left: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  margin: 20px;
  width: 100%;
  z-index: 100;
}
.bg-img h3 {
  color: white;
  padding-top: 200;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  font-family: "Signika";
  text-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
  line-height: 1.4em;
  text-align: center;
}
.bg-img a {
  text-shadow: 2px 2px 5px gray;
  word-spacing: 5px;
  color: white;
  line-height: 4.8;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}

.a:hover {
  color: brown;
}
@media only screen and (min-device-width: 480px){
  .bg-img h3 {
    padding-top: 80px;

  }
  .bg-img a {
    text-shadow: 2px 2px 5px gray;
    word-spacing: 5px;
    color: white;
    line-height: 4.8;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: -16px;
    margin-bottom: 0px;
  }

  
}
/* @media (min-width:733px) and (max-width:735px) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 190%;
  }
} */
/* @media (min-width:412px) and (max-width:413px) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;
  }
} */
@media (min-width:670px) and (max-width:700px) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 190%;
  }
}
@media (min-width:350px) and (max-width:390px) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 190%;
  }
}
@media (min-width:650px) and (max-width:690px) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 195%;
  }
}
@media (min-width:400px) and (max-width:440px) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;
  }
}
@media (min-width:720px) and (max-width:750px) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180%;
  }
}
@media (min-width: 414px) and (max-width: 800px) and (orientation: landscape) {
  .bg-img {
    background-image: url("../../../images/navtest.png");
    position: relative; 
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180%;
    
  }
  
}

